footer {
    position: absolute;
    bottom: 0;
}


#contact {
    width: 700px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(55, 55, 55);
    position: absolute;
    top: 425px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    text-align: center;
    z-index: 1;
    border-bottom: #004AAD 10px solid;
}

@media screen and (max-width: 800px) {
    #contact {
        top: 330px;
        width: 70%;
        padding: 10px;
    }

    .banner p {
        top: 275px;
        font-size: 1.5em;
    }
}