@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html{
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

main{
    width: 100%;   
}

header {
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    color: #004AAD;
}

header nav {
    width: 100%;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    padding: 30px 0;
}

header nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
}

nav a {
    color: inherit;
    text-decoration: none; 
    position: relative;
}

nav a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    background-color: #004AAD;
}

 nav a:hover:after { 
    width: 100%
}
