#logoFingerprint,
#logoText {
    position: absolute;
    top: 5px;
    z-index: 1;
}

#navButton {
    display: none;
}

#logoFingerprint {
    left: 10px;
    width: 75px;
}

#logoText {
    left: 85px;
    width: 150px;
    top: 25px
}

.contactButton {
    background-color: white;
    color: #004AAD;
    border: 2px solid #004AAD;
    transition: 0.5s;
}

.contactButton:hover {
    background-color: #004AAD;
    color: white;
    cursor: pointer;
}

.contactButton a::after {
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
}

.banner {
    height: 500px;
    width: 100%;
    overflow: hidden;
    top: 50px;
}

.banner img {
    height: 100%;
    min-width: 100%;
}


.banner h1 {
    z-index: 1;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

.banner h2 {
    z-index: 1;
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    letter-spacing: 6px;
    text-align: center;
    width: 100%;
}

.banner p {
    z-index: 1;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.qualifications {
    width: 700px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(55, 55, 55);
    position: absolute;
    top: 425px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    background-color: white;
    text-align: center;
    z-index: 1;
    border-bottom: #004AAD 10px solid;
}

.qual {
    width: 33%;
    margin: auto;
    padding: 2em 0;
}

.qual img {
    width: 50px;
}

.borderLine {
    border-right: 1px solid rgb(199, 199, 199);
    height: 5em;
    margin: auto;
}

.cardsHolder {
    position: relative;
    width: 70%;
    min-width: 1200px;
    margin: auto;
    margin-top: 150px;
}

.card {
    height: 400px;
    overflow: hidden;
    margin: 5em;
    padding: 10px;
}

.cardContent {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardContent .textLeft,
.cardsHolder .textRight {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 60%;
    margin: 75px 0;
    height: 250px;
    box-shadow: 0 0 0.8em rgb(98, 98, 98);
}

.cardsHolder .textLeft {
    left: 0;
}

.cardsHolder .textRight {
    right: 0;
}

.cardContent h2,
.cardContent p {
    margin: 30px;
    padding: 0;
}

.cardContent h2 {
    color: #004AAD;
}

.cardContent .imgHolderRight,
.cardsHolder .imgHolderLeft {
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-radius: 2em;

}

.cardsHolder .imgHolderLeft {
    left: 0;
}

.cardContent .imgHolderRight {
    right: 0;
}

.imgHolderRight img,
.imgHolderLeft img {
    height: 100%;
    border-radius: 2em;
}

.imgHolderRight img {
    right: 0;
    float: right;
}

footer {
    width: 100%;
    background-color: #004AAD;
    padding: 20px 0;
    color: white;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    header nav {
        padding: 20px;
    }

    #logoFingerprint,
    #logoText {
        position: absolute;
        top: 0;
        z-index: 1;
    }

    #logoFingerprint {
        left: 5px;
        width: 50px;
        top: 5px;
    }
    
    #logoText {
        left: 55px;
        width: 120px;
        top: 17px
    }

    .contactButton {
        background-color: white;
        color: #004AAD;
        border: 2px solid #004AAD;
        margin-right: 30px;
        font-size: 1em;
    }

    .banner {
        height: 400px;
    }

    .banner h1 {
        font-size: 3em;
        top: 150px
    }

    .banner h2 {
        font-size: 1.5em;
        top: 200px;
    }

    .qualifications {
        width: 250px;
        top: 280px;
        font-size: 0.8em;
        height: auto;
        display: block;
    }

    .qual {
        padding: 1em 0;
        width: 100%;
    }

    .borderLine {
        border: none;
        border-top: 1px solid rgb(199, 199, 199);
        height: 1px;
        width: 50%
    }

    .cardsHolder {
        width: 100%;
        min-width: 0;
        margin-top: 140px;
    }

    .card {
        margin: 0 ;
        width: 100%;
        padding: 2em 0;
        height: auto;
    }

    .cardContent {
        width: 90%;
        margin: auto;
        box-shadow: 0 0 15px rgb(239, 239, 239);
        border-radius: 2em;
    }

    .cardContent h2,
    .cardContent p {
        padding: 20px;
        margin: 0;
    }

    .cardContent h2 {
        font-size: 1.7em;
        padding-bottom: 10px;
    }

    .cardContent p {
        font-size: 1.2em;
    }

    .cardContent .textLeft,
    .cardsHolder .textRight {
        position: relative;
        width: 100%;
        margin: 0;
        box-shadow: 0 0 0 rgb(98, 98, 98);
        height: auto;
    }

    .cardContent .imgHolderRight,
    .cardsHolder .imgHolderLeft {
        position: relative;
        width: 100%;
        margin: auto;
        height: 400px;
        bottom: 0;
        border-radius: 0;
        margin-top: 10px;
    }

    .imgHolderRight img,
    .imgHolderLeft img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}


@media screen and (max-width: 800px) {

    .cardContent .imgHolderRight,
    .cardsHolder .imgHolderLeft {
        height: 200px;
    }
}