@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

main{
    width: 100%;
}

header {
    width: 100%;
    text-align: right;
    position: fixed;
    z-index: 1;
}

header nav {
    margin: auto;
    width: 100%;
    padding: 2em;
    box-shadow: 0 0 20px black;
    background-color: rgba(255, 255, 255, 0.965);
}

header nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
}

