#logoFingerprint,
#logoText {
    position: absolute;
    top: 5px;
    z-index: 1;
}

#navButton {
    display: none;
}

#logoFingerprint {
    left: 10px;
    width: 75px;
}

#logoText {
    left: 85px;
    width: 150px;
    top: 25px
}

.contactButton {
    background-color: white;
    color: #004AAD;
    border: 2px solid #004AAD;
}

.contactButton:hover {
    background-color: #004AAD;
    color: white;
    cursor: pointer;
}

.contactButton a::after {
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
}

.banner {
    height: 600px;
    width: 100%;
    overflow: hidden;
    top: 50px;
}

.banner img {
    width: 100%;    
}


.banner h1 {
    z-index: 1;
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
}

.banner h2 {
    z-index: 1;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    letter-spacing: 6px;
}

.qualifications {
    width: 50%;
    max-width: 700px;
    height: 150px;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(55, 55, 55);
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    background-color: white;
    text-align: center;
    z-index: 1;
    border-bottom: #004AAD 10px solid;
}

.qual {
    width: 33%;
    margin: auto;
}

.qual img {
    width: 50px;
}


.borderLine {
    border-right: 1px solid rgb(199, 199, 199);
    height: 50%;
    margin: auto;
}

.cardsHolder {
    position: relative;
    width: 70%;
    min-width: 800px;
    margin: auto;
    padding-top: 3em;
}

.card {
    height: 400px;
    overflow: hidden;
    margin: 5em;
    padding: 0 20px
}

.cardContent {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardContent .textLeft, .cardsHolder .textRight {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 60%;
    margin: 75px 0;
    height: 250px;
    box-shadow: 0 0 20px rgb(98, 98, 98);
}

.cardsHolder .textLeft{
    left: 0;
}

.cardsHolder .textRight{
    right: 0;
}

.cardContent h2, .cardContent p {
    margin: 30px;
    padding: 0;
}

.cardContent h2 {
    color: #004AAD;
}
.cardContent .imgHolderRight, .cardsHolder .imgHolderLeft {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 60%;
    height: 100%;
    border-radius: 2em;
}

.cardsHolder .imgHolderLeft {
    left: 0;
}

.cardContent .imgHolderRight {
    right: 0;
}

.imgHolderRight img, .imgHolderLeft img {
    height: 100%;
    border-radius: 2em;
}

