#logoFingerprint,
#logoText {
    position: absolute;
    top: 5px;
    z-index: 1;
}

#navButton {
    display: none;
}

#logoFingerprint {
    left: 10px;
    width: 75px;
}

#logoText {
    left: 95px;
    width: 150px;
    top: 25px
}

.contactButton {
    background-color: #004AAD;
    color: white
}

.contactButton a::after {
    height: 0;
    width: 0;
    left: 0;
    bottom: 0;
}

.banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.banner picture {
    position: absolute;
    top: 0;
}

.banner h1 {
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4em;
}

.banner h2 {
    z-index: 1;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    letter-spacing: 0;
}

.carosel {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.cardsHolder {
    height: 40em;
    width: 100%;
    margin: auto;
    position: relative;
}

.carosel .left,
.right {
    z-index: 1;
    position: absolute;
    padding: 0 1em;
    top: 15%;
    height: 80%;
    background-color: inherit;
    border: 0;
    transition: 0.1s;
    font-size: 2em;
}

.carosel button:hover {
    background-color: rgba(187, 187, 187, 0.5);
}

.carosel button:active {
    background-color: rgba(105, 105, 105, 0.5);
}

.carosel button.left {
    left: 0;
}

.carosel button.right {
    right: 0;
}

.card {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1.5s;
    opacity: 0;
}

.cardContent {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
}

.cardContent .text {
    width: 40%;
    margin-left: 4em;
    position: relative;
}

.cardContent .text h2 {
    color: #004AAD;
    position: absolute;
    top: 25%;
    font-size: 2em;
}

.cardContent .text p {
    position: absolute;
    top: 40%;
    font-size: 1.2em;
}

.cardContent .text nav a {
    position: absolute;
    top: 75%;
    background-color: inherit;
    letter-spacing: 2px;
    font-size: 0.9em;
    padding: 1em 2em;
    text-align: center;
    border-radius: 1em;
    box-shadow: none;
    background-color: #004AAD;
    color: white;
}


.cardContent img {
    width: 40%;
    max-height: 300px;
    margin: auto;

}

.carosel #dots {
    color: white;
    display: flex;
    padding: 0.3em;
    border-radius: 2em;
    width: 5em;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 38em;
    z-index: 1;
}

.carosel .dot {
    height: 10px;
    width: 10px;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5em;
    transition: 1s;
    margin: auto;
}

@media screen and (max-width: 70em) {

    header nav {
        display: none;
    }

    #navButton {
        display: block;
        width: 150px;
        position: absolute;
        top: 0;
        right: 0;
    }

    #logoFingerprint {
        width: 150px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #logoText {
        width: 300px;
        position: absolute;
        top: 40px;
        left: 150px;
    }

    .carosel {
        top: 0;
        height: 100%;
    }

    .cardsHolder {
        top: 15%;
        height: 100%;
    }

    .card {
        position: absolute;

    }

    .card .text {
        width: 100%;
        margin: 0;
    }

    .card img {
        display: none;
    }

    .carosel #dots {
        top: 81%;
        bottom: 0;
        width: 15em;
        height: 2em;
        margin: 0;
    }

    .carosel .dot {
        height: 30px;
        width: 30px;
    }

    .carosel .left,
    .right {
        top: 76%;
        bottom: 0;
        height: 2em;
        font-size: 5em;
    }


    .cardContent .text h2 {
        position: relative;
        top: 0;
        font-size: 4em;
    }

    .cardContent .text p {
        position: relative;
        top: 0;
        font-size: 3em;
    }

    .cardContent .text nav a {
        position: absolute;
        top: 70%;
        font-size: 2em;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}